body {
    background-image: url("../asset/image/background_quiz.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    height: 1080px !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container-fluid {
    background-color: rgb(28, 34, 58, 0.8);
    border: #87909C;
    border-radius: 10px;
    width: 90% !important;
    height: 90% !important;
    padding: 30px;
}