/* Toàn bộ Menu của navbar Menu */
.container-fluid{
    --bs-gutter-x:none !important;
}
.h-1{
    display: flex !important;
}
.col-3{
    width: 20% !important;
    height: 1080px;
    padding: 15px 25px 0px 25px !important;
    background-color: #20203C;
}
.col-9{
    width: 80% !important;
    height: 1080px;
    padding-left: 3%;
    background-color: #1A1A2F;
}
.col-bar{
    padding-left: 10px;
}
.bg-body-tertiary{
    --bs-bg-opacity:0;
    --bs-tertiary-bg-rgb:#20203C; 
}
.navbar-toggler{
    --bs-navbar-toggler-transition: 0;
    background-color: white !important;
}
@media (max-width: 576px) {
    .col-3 {
        padding-left: 20px !important;
    }
}
.nav-link{
    padding-left: 20px !important;
    --bs-nav-link-padding-y: 15px !important;
    --bs-nav-link-padding-x: 5px !important;
    --bs-nav-link-color:#8b8ba8;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    color: var(--bs-nav-link-color);
    --bs-border-radius:15px;
    --bs-btn-border-radius: var(--bs-border-radius);
    border-radius: var(--bs-btn-border-radius);
    transition: background-color 0.3s, color 0.3s;
}
.nav-link:hover{
    background-color: #33334d;
    color: white !important;
    --bs-border-radius:15px;
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    border-radius: var(--bs-nav-pills-border-radius);
}
.nav-link img {
    transition: filter 0.3s; /* Thêm hiệu ứng chuyển màu cho hình ảnh */
}
.nav-link:hover img{
    filter: brightness(200%)
}
.page-now{
    background-color: #33334d;
    --bs-border-radius:15px;
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    border-radius: var(--bs-nav-pills-border-radius);
}
.page-now img {
    filter: brightness(200%)
}
.col-l-p{
    display: flex;
    margin: 40px 0px 5px 0px;
    justify-content: space-between;
}
.btn:hover{
    background-color: #8e71ff !important;
}
.btn{
    --bs-border-radius:15px;
    --bs-btn-border-radius: var(--bs-border-radius);
    border-radius: var(--bs-btn-border-radius);
    height: 70px;
    width: 200px;
}
.name{
    margin: 1.5rem 0rem 1.5rem 0.5rem;
}
.rounded-circle{
    margin: 15px 0px 10px 6px;
}
.btn-create{
    background-color: #6541F5 !important;
    border: #6541F5 !important;
}
.icon-plus{
    margin-bottom: 10px;
}
.btn-text{
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    color: white;
    font-family: barlow !important;
    font-weight: 700 !important;
}
.li-menu{
    margin: 10px 0px 10px 0px;
}
.row-b{
    margin: 50px 0px 30px 0px;
    text-align: center;
    height: 70px;
}
/* toàn bộ css của navbar menu */

/* CSS này là của Leaderboard */
.header{
    margin-top: 100px;
    margin-bottom: 20px;
}
.fs-3{
    margin-bottom: 0;
}
.list-group{
    --bs-body-bg: #1A1A2F;
    --bs-body-color: white;
}
.list-group-item{
    /* --bs-list-group-border-width:; */
    --bs-list-group-border-color: #4F4F4F;
    --bs-list-group-item-padding-y: none;
    --bs-list-group-item-padding-x: none;
    padding: 10px 10px 10px 0px !important;
    margin-top: 20px;
}
.leaderboard-info{
    overflow: auto;
    white-space: nowrap;
    outline-width: none;
    flex-wrap: wrap;
    max-height: 912px;
}
/* .leaderboard-info::-webkit-scrollbar {
    display: none;
} */

/* CSS chỉnh cho cái thanh scroll đẹp lại */
.leaderboard-info::-webkit-scrollbar {
     width: 10px;
}
.leaderboard-info::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.leaderboard-info::-webkit-scrollbar-thumb {
    background: #888; 
}
.leaderboard-info::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.user-info{
    display: flex;
    margin: 0px 70px 0px 30px;
}
.user-info img{
    margin-right: 15px;
}
.user-quiz{
    display: flex;
    margin: 0px 50px 0px 50px;
}
.user-quiz img{
    margin-top: 5px ;
    margin-right: 5px;
    width: 28px;
    height: 28px;
    filter: brightness(200%); 
}
.user-scores{
    display: flex;
    margin: 0px 50px 0px 50px;
}
.user-scores img{
    margin-top: 5px ;
    margin-right: 5px;
    width: 28px;
    height: 28px;
}
.user-percent{
    display: flex;
    margin: 0px 100px 0px 50px;
}
.user-percent img{
    margin-top: 5px ;
    margin-right: 5px;
    width: 28px;
    height: 28px;
}
.user-btn{
    display: flex;
}
.user-btn button{
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF734B; /* Màu nền tùy chọn */
    color: white; /* Màu chữ tùy chọn */
    border: none; /* Loại bỏ viền */
    border-radius: 10px; /* Tùy chỉnh độ bo góc */
    font-size: 16px; /* Kích thước chữ tùy chọn */
    cursor: pointer; /* Thay đổi con trỏ khi hover */
    margin: 0px 0px 0px 164px;
}
.user-btn button:hover{
    filter: brightness(130%);
}
@media (max-width: 1024px) {
    .col-3{
        padding-left: 10px !important;
        padding-right: 0px !important;
    }
    .btn{
        width: 150px !important;
    }
    .btn-start{
        width: 150px !important;
    }
}
.name-respondent{
    width: 300px;
}
.div-number-rank{
    align-items: center;
    width: 50px; 
    height: 50px;
    font-size: 40px;
}
.number-rank{
    font-family: barlow;
    font-weight: 700;
    margin: 5px 15px 10px 10px;
}
/* CSS này là của Leaderboard */

/* CSS cho popup */
.popup {
    position: fixed;
    top: 10%;
    left: 55%;
    transform: translate(-50%, -70%);
    border-radius: 40px;
    display: none;
    text-align: center;
    font-family: barlow;
    width: 900px;
}
.text-popup{
    color: #7556FF;
    font-weight: 600;
    margin-bottom: auto;
}
#userName{
    color: black;
    font-size: 30px;
    margin-right: 240px;
}
.popup.show {
    display: block;
}
#closeButton{
    border: none;
    background-color: #d1e7dd;
    font-size: 30px;
}
#closeButton:hover{
    filter: brightness(110%);
}
.alert{
    --bs-alert-padding-y: 5px !important;
    --bs-alert-padding-x: 20px !important;
    --bs-border-radius: 10px;
}
.alert svg{
    width: 40px; 
    height:40px; 
    margin-right: 100px !important;
}
/* CSS cho popup */
/* CSS để làm dropdown submenu */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
.dropdown-menu .dropdown-submenu .dropdown-menu {
    display: none;
}
.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
    display: block;
}